textarea {
    min-height: 400px;
}

.read_mails_li{
    margin: 0.5%;
    list-style-type: none;
    transition: ease-in 280ms;
}
.read_mails_li:hover{
    transition: ease-out 280ms;
    transform: scale(1.009);
  
}
.read_btn{
    background-color: lightgrey;
}


.mails_li{
    margin: 0.5%;
    list-style-type: none;
    transition: ease-in 280ms;
    
}
.mails_li:hover{
    transition: ease-out 280ms;
    transform: scale(1.009);

}

.marg{
    margin: 0.5%;
}
